<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link rel="stylesheet" href="../static/css/add_book.css">
</head>
<body>
    <h2>Add a New Book</h2>
    <form method="POST" action="/admin/add_book">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required><br>

        <label for="author">Author:</label>
        <input type="text" name="author" id="author" required><br>

        <label for="publisher">Publisher:</label>
        <input type="text" name="publisher" id="publisher" required><br>

        <label for="price">Price:</label>
        <input type="number" name="price" id="price" required><br>

        <label for="warehouse">Warehouse:</label>
        <input type="text" name="warehouse" id="warehouse" required><br>

        <button type="submit">Add Book</button>
    </form>
    <a href="/admin/dashboard">Back to Home</a>
</body>
</html>
